<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Find Hospital
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
      <ion-avatar>
        <img src = "https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-avatar>

      <ion-item> 
          <ion-input placeholder = "Nome"  [(ngModel)]="inputValue"></ion-input>
      </ion-item> 

  <ion-item>
      <ion-input placeholder = "Telefone"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input placeholder = "Endereço"></ion-input>
  </ion-item>

  <ion-item>
      <ion-input placeholder = "Contato de Emergência"></ion-input>
  </ion-item>
</ion-content>
