<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Find Hospital
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
      <ion-avatar>
        <img src = "https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
      </ion-avatar>

      <ion-list>
        <ion-item>
          <ion-label>nome</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>telefone</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>endereco</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>tel_emerg</ion-label>
        </ion-item>  
      </ion-list>
      
  <ion-button href="edit-profile" expand = "full">
    <ion-label>Editar Perfil</ion-label>
  </ion-button>

</ion-content>

