<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Find Hospital
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
      <ion-title style = "text-align: center">Remédios</ion-title>
  </ion-toolbar>

<ion-content>
    <ion-list>   
        <ion-item>
            <ion-label>Doença</ion-label>
            <ion-select>
              <ion-select-option value="hipertensão">Hipertensão</ion-select-option>
              <ion-select-option value="diabetes">Diabetes</ion-select-option>
              <ion-select-option value="cancer">Câncer</ion-select-option>
              <ion-select-option value="enfarte">Enfarte</ion-select-option>
              <ion-select-option value="arritmia">Arritmia</ion-select-option>
              <ion-select-option value="asma">Asma</ion-select-option>
              <ion-select-option value="cia">CIA/CIV</ion-select-option>
              <ion-select-option value="rinite">Rinite</ion-select-option>
              <ion-select-option value="sinusite">Sinusite</ion-select-option>
              <ion-select-option value="hiv">HIV</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Parente</ion-label>
            <ion-select>
              <ion-select-option value="mae">Mãe</ion-select-option>
              <ion-select-option value="pai">Pai</ion-select-option>
              <ion-select-option value="irmao">Irmã(o)</ion-select-option>
              <ion-select-option value="avó">Avó</ion-select-option>
              <ion-select-option value="avô">Avô</ion-select-option>
              <ion-select-option value="tio">Tio(a)</ion-select-option>
              <ion-select-option value="primo">Primo(a)</ion-select-option>
              </ion-select>
        </ion-item>
    </ion-list>

    <ion-button expand = "full" >Salvar</ion-button>

</ion-content>
