<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Find Hospital
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
      <ion-title style = "text-align: center">Remédios</ion-title>
  </ion-toolbar>

<ion-content>
    <ion-list>   
        <ion-item>
          <ion-label>Remédio</ion-label>
          <ion-select>
            <ion-select-option value="amoxicilina">Amoxicilina</ion-select-option>
            <ion-select-option value="nimesulida">Nimesulida</ion-select-option>
            <ion-select-option value="alegra">Alegra</ion-select-option>
            <ion-select-option value="loratadina">Loratadina</ion-select-option>
            <ion-select-option value="ibuprofeno">Ibuprofeno</ion-select-option>
            <ion-select-option value="pantoprazol">Pantoprazol</ion-select-option>
            <ion-select-option value="omeprazol">Omeprazol</ion-select-option>
            <ion-select-option value="predsin">Predsin</ion-select-option>
          </ion-select>
        </ion-item>
    </ion-list>

    <ion-button expand = "full" >Salvar</ion-button>

    <ion-list>
      <ion-item>
        
      </ion-item>
    </ion-list>

</ion-content>
